---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Sobre mi" id="aboutMe">
  <Fragment slot="lead">
    Me encanta aprender nuevas y mejores formas de
    <span class="text-primary">desarrollar</span> y <span class="text-primary">programar</span>.
    Me fijo mucho en los <span class="text-primary">detalles</span> y <span class="text-primary">compruebo bastante</span>
    la experiencia de usuario al utilizar una aplicación.
  </Fragment>
</ContentSection>
