---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Sobre mí" id="aboutMe">
  <Fragment slot="lead">
    Me encanta aprender nuevas y mejores formas de
    <span class="text-primary">desarrollar</span> y <span class="text-primary">programar</span>.
    <br />
    <br />
    Se me da bien <span class="text-primary">resolver problemas</span> y <span class="text-primary">compruebo bastante</span>
    que funcione bien la experiencia de usuario al utilizar una aplicación.
  </Fragment>
</ContentSection>
