---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="About me" id="aboutMe">
  <Fragment slot="lead">
    I'm good at <span class="text-primary">problem solving</span>, I pay a lot of attention to details
    and I make sure everything <span class="text-primary">works well</span>.
    <br />
    <br />
    I love to learn new ways to
    <span class="text-primary">develop</span>.
  </Fragment>
</ContentSection>
