---
import { Icon } from "astro-icon";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://github.com/alvaromrweb",
    description: "GitHub profile",
    icon: "fa-brands:github",
    target: "_blank"
  },
  {
    url: "https://es.linkedin.com/in/%C3%A1lvaro-mart%C3%ADnez-reina-469a5bb9",
    description: "Linkedin profile",
    icon: "fa-brands:linkedin-in",
    target: "_blank"
  },
  {
    url: "mailto:alvaromrweb@gmail.com",
    description: "Email contact",
    icon: "ic:outline-email",
  },
];
---

<footer class="relative flex h-32 items-center justify-center bg-slate-800">
  <ul class="relative grid grid-cols-3 gap-4 ">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url} target={link.target}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
