---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
---

<ContentSection title="Proyectos" id="proyectos">
  <Fragment slot="lead">
    Aquí dejo algunos <span class="text-primary">ejemplos</span>
    de proyectos en los que he <span class="text-primary">trabajado</span>
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {sites.map((site) => <ShowcaseCard site={site} />)}
    </div>
  </div>
</ContentSection>
