---
import { Image } from "@astrojs/image/components";
import fotoCara from "~/assets/foto-cara.png";
import { Icon } from "astro-icon";
import ButtonGradient from "./ui/buttonGradient.astro";

const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">

  
  <div class="relative flex flex-col sm:flex-row h-full place-items-center justify-center bg-gradient-to-r from-slate-900 to-blue-900 brightness-80">
    <div
      class="flex flex-col relative order-2 sm:order-1 gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end mt-5 sm:mt-0  md:pl-0 lg:pl-2 xl:pl-0 pb-10 md:pb-0"
    >
      <h1 class="text-4xl lg:text-5xl 2xl:text-8xl font-extrabold tracking-tighter text-center xl:text-left">
        Álvaro Martínez
      </h1>
      <h4 class="gradient-text text-center xl:text-left font-extrabold tracking-tighter text-2xl lg:text-3xl 2xl:text-4xl drop-shadow-xl">
        Full Stack Web Developer
      </h4>
      <p class="text-center xl:text-left  text-gray-200/75 text-sm font-bold">
         +7 años de experiencia en desarrollo y mantenimiento de aplicaciones web
      </p>
      <div class="mt-4  text-center xl:text-left relative">
        <a href="#contacto">
          <ButtonGradient className="text-lg inset-x-0 sm:inset-x-auto">Contacto</ButtonGradient>
        </a>
      </div>
    </div>
    <div
      class="w-2/3 max-w-2xl sm:w-10/12 order-1 sm:order-2 sm:self-auto  2xl:justify-self-start"
    >
      <Image
        class="object-cover w-full h-full"
        src={fotoCara}
        sizes={sizes}
        loading="eager"
        alt="Foto perfil"
      />
    </div>
      
    <div class="sm:absolute inset-x-0 bottom-2 sm:bottom-7 h-10 order-last">
      <div class="animate-bounce">
        <a href="#aboutMe">
          <Icon name="mdi:arrow-down" class="h-10 sm:h-16 mx-auto " />
        </a>
      </div>
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, -10px, 0);
    }
  }

  .floatAnimation {
    animation: float linear 2s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    .floatAnimation {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
