---
import { Icon } from "astro-icon";
import type { TechnologyItem } from "~/types";
import ContentSection from "./content-section.astro";
import TechnologiesList from "./technologies-list.astro";

const mainTechs: Array<TechnologyItem> = [
  {
    title: "PHP",
    icon: "technologies/php",
  },
  {
    title: "JavaScript",
    icon: "logos:javascript",
  },
  {
    title: "MySQL",
    icon: "logos:mysql",
  },
  {
    title: "Laravel",
    icon: "logos:laravel",
  },
  {
    title: "Livewire",
    icon: "technologies/livewire",
  },
  {
    title: "TailwindCSS",
    icon: "logos:tailwindcss-icon",
  },
  {
    title: "Bootstrap",
    icon: "logos:bootstrap",
  },
  {
    title: "Git",
    icon: "mdi:git",
  },
  // {
  //   title: "jQuery",
  //   icon: "mdi:jquery",
  // },
  {
    title: "HTML5",
    icon: "vscode-icons:file-type-html",
  },
  {
    title: "CSS3",
    icon: "vscode-icons:file-type-css",
  },
  {
    title: "Wordpress",
    icon: "bi:wordpress",
  },
  {
    title: "Prestashop",
    icon: "logos:prestashop",
  },
  
  
];

const secondaryTechs: Array<TechnologyItem> = [
  
  {
    title: "React",
    icon: "logos:react",
  },
  {
    title: "NextJS",
    icon: "file-icons:nextjs",
  },
  {
    title: "Astro",
    icon: "vscode-icons:file-type-astro",
  },
  {
    title: "NodeJS",
    icon: "logos:nodejs-icon",
  },
  {
    title: "ExpressJS",
    icon: "technologies/express",
  },
  {
    title: "MongoDB",
    icon: "technologies/mongodb",
  },
];
---

<ContentSection title="Technologies" id="tecnologias">
  <Fragment slot="lead">
    These are the technologies I have used <span class="text-primary">working</span>
    and making <span class="text-primary">personal projects</span>.
  </Fragment>
  <TechnologiesList
    items={mainTechs}
    title="Most experienced"
  />
  <TechnologiesList
    items={secondaryTechs}
    title="Less experienced"
  />
</ContentSection>

